<link rel="stylesheet" href="../assets/stylesheets/application.css" title="CSS" type="text/css"/>

<header>
  <center>
  <h3>All Jobs for <strong></strong></h3>
  </center>
</header>

  <ul>
    <% @jobs.each do |job| %>
    <li>Title: <%= job.title %></li>
    <% end %>
  </ul>
