<h3>Job Categories</h3>

  <a class= 'button' href=<%= new_category_path %>>add a new category</a>


  <ul>
    <% @categories.each do |category| %>
    <li><%= category.title %> <%= category.title.size %></li>
    <% end %>
  </ul>
